*{
    text-align:center;
    font-family: 'Emblema One', cursive;
}
body{
    background-image: url("../images/train.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.jumbotron{
    height: 300px;
    
}

.card{
    color: black;
}

#Train-Schedule{
    position: relative;
    bottom: 28px;
}